<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I was born in 1998 in Nis, Serbia. I Finished High School "Bora Stanković" (Informatics Department). My passion are computer games and as much as I like playing them I want to be a part of the making of new games.<br/><br/>
			That is why I have chosen to become a Software Engineer.
		</div>
		<br>
	</div>
</div>
